<!DOCTYPE html>
<html>
<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <!--<hr class="star-light">-->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1">
        <img src="img/algoldfuss-sunglasses.png" alt="A white person with short curly brown hair and glasses wearing sunglasses and a green jacket.">
      </div>
      <div class="col-lg-5 align-self-center">
        <p>A.L. Goldfuss writes speculative fiction which reviewers have called “rich,” “intense,” “complex,” and “rather grim.” <br> <br> Xir work has been longlisted for the Locus Award, British Science Fiction Association award, and Best American Science Fiction and Fantasy. <br> <br> Xe lives in the Pacific Northwest with stacks of tea and carnivorous plants. </p>
      </div>
    </div>
  </div>
</section>
</html>										