<!DOCTYPE html>
<html>
<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <!--<hr class="star-light">-->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img src="/img/algoldfuss-woods.png" alt="A white person with short curly brown hair and glasses wearing a blue flannel shirt and black rain jacket.">
      </div>
      <div class="col-lg-6 col-lg-offset-2 align-self-center">
        <p>A.L. Goldfuss lives in the Pacific Northwest with stacks of tea and carnivorous plants. <br> <br> Xe writes speculative fiction which reviewers have called “rich,” “intense,” “complex,” and “rather grim.” </p>
      </div>
    </div>
  </div>
</section>
</html>
